---
layout: frame
title: 후기
description: "프엠: 후기 모아보기"
language: 
  current: all
  title:
    ko: 후기
    en: Reviews
---
{%-for post in site.posts-%}
  {%-if post.review!=null-%}
    {%-case post.review.rate-%}
      {%-when 1-%}
        {%-capture rate_1-%}
        {{rate_1}}<li><div class='i'>{%if post.review.image%}<img src='{{post.review.image}}' alt='{{post.title}}'>{%endif%}</div><span>{{post.title}}</span></li>
        {%-endcapture-%}
      {%-when 2-%}
        {%-capture rate_2-%}
          {{rate_2}}<li><div class='i'>{%if post.review.image%}<img src='{{post.review.image}}' alt='{{post.title}}'>{%endif%}</div><span>{{post.title}}</span></li>
        {%-endcapture-%}
      {%-when 3-%}
        {%-capture rate_3-%}
          {{rate_3}}<li><div class='i'>{%if post.review.image%}<img src='{{post.review.image}}' alt='{{post.title}}'>{%endif%}</div><span>{{post.title}}</span></li>
        {%-endcapture-%}
      {%-when 4-%}
        {%-capture rate_4-%}
          {{rate_4}}<li><div class='i'>{%if post.review.image%}<img src='{{post.review.image}}' alt='{{post.title}}'>{%endif%}</div><span>{{post.title}}</span></li>
        {%-endcapture-%}
      {%-when 5-%}
        {%-capture rate_5-%}
          {{rate_5}}<li><div class='i'>{%if post.review.image%}<img src='{{post.review.image}}' alt='{{post.title}}'>{%endif%}</div><span>{{post.title}}</span></li>
        {%-endcapture-%}
    {%-endcase-%}
  {%-endif-%}
{%-endfor-%}

{%include upbar.html%}
{%include top-gap.html%}
{%include logo.html anchor=true%}

<main>

  <ul>
    {{rate_5}}
  </ul>
  <ul>
    {{rate_4}}
  </ul>
  <ul>
    {{rate_3}}
  </ul>
  <ul>
    {{rate_2}}
  </ul>
  <ul>
    {{rate_1}}
  </ul>

</main>

{%include footer.html%}
