body{
  --p-maxwidth: 70rem;
}
main.p-main{ max-width:var(--p-maxwidth); margin-top:1rem; }
div.p-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  gap: .5rem;
  height: auto;
  overflow: auto;
}
h2.p-which{
  text-align:center;
  margin:0;
  font-size:2rem;
  flex-shrink:0;
  font-family:var(--font-title);
  font-weight:100;
  width:100%;
}
.p-box{
  height:10rem;
  font-size:var(--size-font-p);
  font-family:var(--font-p);
  padding:.5em;
  min-height:3rem;
  max-width:100%;
  resize: vertical;
  width:100%;
}
div.p-buttons{
  display:flex;
  justify-content:center;
}
.p-text div.buttons{ margin-top: -.4rem }
.base64 div.buttons{ margin-bottom: -.4rem }
div.p-buttons .badge{
  font-size:1.7rem;
  cursor:pointer;
}
div.p-arrow{
  font-family:var(--font-title);
  font-size:3rem;
  text-align:center;
  width:100%;height:auto;
  margin:-.5rem auto;
  font-weight:100;
}
h1{
  font-weight: 600;
  background-color:var(--color-theme-change);
  color: var(--color-background);
  display:flex;
  justify-content: space-evenly;
  width: 100%;
}
div.p-botdoc{
  max-width:var(--p-maxwidth);
  margin:auto; padding:0 1rem;
}