div.container{
  display: flex;
  width: 100%;
  height:20rem;
  padding:1rem;
  gap: .5rem;
  align-items:center;
}
h2.which{
  text-align:center;
  margin:0;
  font-size:2rem;
  flex-shrink:0;
  width:2rem;
  font-family:var(--font-title);
  font-weight:100;
}
.box{
  height:100%;
  flex: 1;
  font-size:var(--size-font-p);
  font-family:var(--font-p);
  padding:.5em;
}
div.arrow{
  font-family:var(--font-title);
  font-size:3rem;
  text-align:center;
  width:100%;height:auto;
  margin:1rem auto;
  font-weight:200;
}