.p-roundabout-icon{width:100%;text-align:center;}
.p-roundabout-icon img,.p-roundabout-icon svg{width:10rem;max-width:30%;aspect-ratio:1/1;}
.p-roundabout-icon img,.p-roundabout-icon svg{margin:1rem 5%}