@font-face{
  font-family: 'sanserif-body';
  src:
    local('SUIT Light'),
    url('/import/fonts/SUIT-Light.woff2') format('woff2'),
    url('/import/fonts/SUIT-Light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face{
  font-family: 'sanserif-body';
  src:
    local('SUIT SemiBold'),
    url('/import/fonts/SUIT-SemiBold.woff2') format('woff2'),
    url('/import/fonts/SUIT-SemiBold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family:'sanserif-body';
    src:
      local('Zen Kaku Gothic New'),
      url('/import/fonts/ZenKakuGothicNew-Regular.woff2') format('woff2'),
      url('/import/fonts/ZenkakuGothicNew-Regular.ttf') format('ttf');
    font-weight:normal;
    font-style:normal;
    font-display:swap;
    unicode-range:U+4E00-9FBF,U+3040-309F,U+30A0-30FF;
}
@font-face{
    font-family:'sanserif-body';
    src:
      local('Zen Kaku Gothic New'),
      url('/import/fonts/ZenKakuGothicNew-Bold.woff2') format('woff2'),
      url('/import/fonts/ZenkakuGothicNew-Bold.ttf') format('ttf');
    font-weight:bold;
    font-style:normal;
    font-display:swap;
    unicode-range:U+4E00-9FBF,U+3040-309F,U+30A0-30FF;
}
@font-face{
  font-family:'sanserif-title';
  src:
    local('IBM Plex Sans KR'),
    url('/import/fonts/IBMPlexSansKR-ExtraLight.woff2') format('woff2'),
    url('/import/fonts/IBMPlexSansKR-ExtraLight.woff') format('woff');
  font-weight:100;
  font-style:normal;
  font-display:swap;
}
@font-face{
    font-family:'sanserif-title';
    src:
      local('IBM Plex Sans KR'),
      url('/import/fonts/IBMPlexSansKR-Light.woff2') format('woff2'),
      url('/import/fonts/IBMPlexSansKR-Light.woff') format('woff');
    font-weight:200;
    font-style:normal;
    font-display:swap;
}
@font-face{
    font-family:'sanserif-title';
    src:
      local('IBM Plex Sans KR'),
      url('/import/fonts/IBMPlexSansKR-Regular.woff2') format('woff2'),
      url('/import/fonts/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight:400;
    font-style:normal;
    font-display:swap;
}
@font-face{
    font-family:'sanserif-title';
    src:
      local('IBM Plex Sans KR'),
      url('/import/fonts/IBMPlexSansKR-Bold.woff2') format('woff2'),
      url('/import/fonts/IBMPlexSansKR-Bold.woff') format('woff');
    font-weight:700;
    font-style:normal;
    font-display:swap;
}
@font-face{
  font-family:'sanserif-title';
  src:
    local('M PlUS 2 ExtraLight'),
    url('/import/fonts/Mplus2-ExtraLight.woff2') format('woff2'),
    url('/import/fonts/Mplus2-ExtraLight.ttf') format('ttf');
  font-weight:100;
  font-style:normal;
  font-display:swap;
  unicode-range:U+4E00-9FBF,U+3040-309F,U+30A0-30FF;
}
@font-face{
  font-family:'sanserif-title';
  src:
    local('M PlUS 2 Light'),
    url('/import/fonts/Mplus2-Light.woff2') format('woff2'),
    url('/import/fonts/Mplus2-Light.ttf') format('ttf');
  font-weight:200;
  font-style:normal;
  font-display:swap;
  unicode-range:U+4E00-9FBF,U+3040-309F,U+30A0-30FF;
}
@font-face{
  font-family:'sanserif-title';
  src:
    local('M PlUS 2 Medium'),
    url('/import/fonts/Mplus2-Meidum.woff2') format('woff2'),
    url('/import/fonts/Mplus2-Meidum.ttf') format('ttf');
  font-weight:400;
  font-style:normal;
  font-display:swap;
  unicode-range:U+4E00-9FBF,U+3040-309F,U+30A0-30FF;
}
@font-face {
    font-family:'monospace';
    src:
      local('D2Coding'),
      url('/import/fonts/D2Coding.woff') format('woff');
    font-weight:normal bold;
    font-style:normal;
    font-display:swap;
}