/* selection */
::selection{background-color:var(--c-tm-c);}
::-moz-selection{background-color:var(--c-tm-c);}
::-webkit-selection{background-color:var(--c-tm-c);}
.post h1::selection{background-color:var(--c-tm-db-c);}
.post h1::-moz-selection{background-color:var(--c-tm-db-c);}
.post h1::-webkit-selection{background-color:var(--c-tm-db-c);}

/* user selection */
.noDrag,.jump-link,.PageList,.hp1,.comment-reply,.comment-actions,.avatar-image-container,#blog-pager,.footnote .n
{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important;}

/* scroll margin */
body *{scroll-margin-top:4rem}

/* frame */
body{
  font-family:var(--f-serif);
}
h1{
  font-family:var(--f-sanserif);font-weight:100;
}

/* monospace */
.monospace,pre,code{
  font-family:var(--f-monospace);
}

/* cookie notification */
#cookieChoiceInfo{
  bottom:0;top:auto;font-size:var(--s-font-p);
  background-color:var(--c-tm-c);
  box-shadow:0 -.19rem .47rem rgba(0,0,0,.1);
}
#cookieChoiceInfo *{color:var(--c-ft)}
#cookieChoiceInfo .cookie-choices-text{font-size:1em;font-family:var(--f-sanserif);word-break:keep-all;}
#cookieChoiceInfo .cookie-choices-buttons{font-size:1.1em;font-family:var(--f-sanserif)}

/* post title */
.post h1{pointer-events:none;}
.post h1 a{pointer-events:auto;}
.post h1:hover{background-color:var(--c-tm-db-c)}

/* neck */
.neck{
  font-family:var(--f-sanserif);
}

/* bottom */
.tags{cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.tags li a{font-family:var(--f-sanserif);font-weight:300;}
.tags li a:hover{font-weight:400}
.tags.current li::before{
  font-family:var(--f-sanserif);font-weight:700;
}

/* upbar */
#upbar{
  box-shadow:0 .19rem .47rem rgba(0,0,0,.1);
}
#upbar-search-bar{
  outline:none;
}
#upbar-search-button{
  text-align:center;
  box-shadow:none;
  cursor:pointer;
}
#upbar-search-button:active{box-shadow:none;outline:none;-webkit-box-shadow:none;}
#upbar-moveB-up,#upbar-moveB-down,#upbar-shareB{
  background-color:transparent;box-shadow:none;border:none;
  cursor:pointer;
}
#upbar-shareB-noti{
  top:2.7rem;left:-2rem;
  width:7rem;
  font-size:1rem;text-align:center;
}

/* noti */
.noti{
  background-color:rgba(0,0,0,.6);color:white;
  padding:.2rem;
  transition:all .2s linear;
  cursor:default;
  border-radius:.5rem;
  pointer-events:none;
}
.noti.v{opacity:1}

/* mark */
mark{background:linear-gradient(to top,var(--c-tm-c) 40%,transparent 0);color:var(--c-ft);}

/* h */
h2,h3,h4,h5,h6{
  font-family:var(--f-sanserif);
}
.post h2,.post h3,.post h4,.post h5,.post h6{border-right:var(--s-line-t) solid var(--c-tm-c);}
h2:first-child,h2+h3,h3+h4,h4+h5,h5+h6,h2.first,h3.first,h4.first,h5.first,h6.first{margin-top:0;}
/*h2:not(.noDeco)::after,h3:not(.noDeco)::after,h4:not(.noDeco)::after,h5:not(.noDeco)::after,h6:not(.noDeco)::after{
  content:'';background-color:var(--c-tm-c);height:.2rem;
  position:relative;display:inline-block;
  vertical-align:middle;
  left:.5em;margin-right:-100%;width:100%;
}*/

main details>summary{
  padding:0 .7em;
  width:100%;
  cursor:pointer;
  color:var(--c-ft);
  box-sizing:border-box;
}
main details:hover{border-left-color:var(--c-tm-db-c)}

/* button */
.button{
  font-family:var(--f-sanserif);
  cursor:pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button:hover{background-color:var(--c-tm-db-c)}
.button.i{
  border-radius:30%;
}

/* footnote */
.footnote .n,.footnote .n *{
  cursor:help;
}
.footnote.t>:not(.n) a{border-bottom-color:var(--c-tm-db-c)}
.footnote.t>:not(.n) a:hover{border-bottom-color:var(--c-tm-tp-c)}
.footnote.b{
  border-top:.2rem solid var(--c-tm-c);
}
.footnote.t>:not(.n)::before{
  content:'';
  position:absolute;
  top:-.56rem;left:calc(var(--left,0px));
  width:0;height:0;
  border-style:solid;border-width:.3rem;
  border-color:transparent transparent var(--c-tm-c) transparent;
}
.footnote.t>:not(.n){
  z-index:3;position:absolute;box-sizing:border-box;
  top:1.25rem;left:calc(0px - var(--left,0px));
  background-color:var(--c-tm-c);
  padding: 1em;
  box-shadow:.18rem .18rem .47rem 0 rgba(0,0,0,.1);
  width:90vw;max-width:max-content;white-space:pre-line;
}
.footnote.t *:not(.n)::selection{background-color:var(--c-tm-db-c);}
.footnote.t *:not(.n)::-moz-selection{background-color:var(--c-tm-db-c);}
.footnote.t *:not(.n)::-webkit-selection{background-color:var(--c-tm-db-c);}
@media (hover:hover){
  .footnote.t:hover>*:not(.n){display:block;}
}
@media (hover:none){.footnote.t>:not(.n){padding-top:2rem}}
.footnote.t .bar{
  display:block;margin-bottom:1em;
  display:flex;justify-content:space-between;
  font-size:1rem;
  background-color:var(--c-tm-db-c);
  position:absolute;top:0;right:0;width:100%;
}
.footnote.t .bar a{
  border:hidden;cursor:pointer;text-align:center;
  width:1.7em;
}

/* list */
li{white-space:normal;overflow-wrap:break-word;}
ul{list-style-type:square;}
ol>li::marker{font-weight:bold;}
ol.index,.index ol{counter-reset:index;list-style-type:none;}
ol.index li{counter-increment:index;display:table;}
ol.index li::before{
  content:counters(index,". ") ".\00a0";
  color:var(--c-tm-db-c);font-weight:bold;display:table-cell;white-space:nowrap;
}
details>ul,details>ol{padding-left:0}
li .flex *{min-width:1px}

/* table */
.table-nospace{border-collapse:collapse;border-spacing:0;border-style:none;padding:0;}
.table-nospace td ,.table-nospace tr{border-spacing:0;border-style:none;padding:0;margin:0;}
.table-yesspace td{padding:.5em;}
.table-yesspace{margin:.5em;}
table.innerline td{border:.05em solid var(--c-gr-2)}
table.innerline{border-collapse:collapse;border:hidden;}

/* group */
.group{width:max-content;height:auto;white-space:nowrap}
.group>*{height:auto;max-height:100%;}

/* hr */
hr.dot{border-radius:50%;)}

/* badge */
.badge{
  border-radius:2.5rem;
}
.badge:not(.nothover):hover{transform:translate(-.1rem,-.1rem)}
img.badge:not(.nothover):hover,svg.badge:not(.nothover):hover{
  filter:drop-shadow(.3rem .3rem .5rem rgba(0.0.0.,2));
  -webkit-filter:drop-shadow(.3rem .3rem .5rem rgba(0,0,0,.2));
}
.badge:not(.nothover,img,svg):hover{
  box-shadow:.3rem .3rem .5rem var(--c-tm-c);
}

/* details */
main details{
  border-left:var(--s-line-t) solid var(--c-tm-c);
}
main details>:not(summary){margin-left:1.5em}
main details>summary+*{margin-top:1em}
main .index summary+*{margin-top:0}
main details>:last-child{margin-bottom:0}