/* selection */
::selection{background-color:var(--color-theme-change);}
::-moz-selection{background-color:var(--color-theme-change);}
::-webkit-selection{background-color:var(--color-theme-change);}
h1.post::selection{background-color:var(--color-theme-change);}
h1.post::-moz-selection{background-color:var(--color-theme-change);}
h1.post::-webkit-selection{background-color:var(--color-theme-change);}

/* no user selection */
.no-drag,.footnote .n,.badge
{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important;}

/* bottom */
.tags{cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.tags li a:hover{font-weight:400}

/* upbar */
#upbar{
  box-shadow:0 .19rem .47rem rgba(0,0,0,.1);
}
#upbar-search-button{cursor:pointer}
#upbar-search-button:active{box-shadow:none;outline:none;-webkit-box-shadow:none;}
#upbar-move-button-up,#upbar-move-button-down,#upbar-share-button{cursor:pointer}
#upbar-share-button-noti{
  top:2.7rem;left:-2rem;
  width:7rem;
  font-size:1rem;text-align:center;
}

/* noti */
.noti{
  background-color:rgba(0,0,0,.6);color:white;
  padding:.2rem;
  transition:all .2s linear;
  cursor:default;
  border-radius:.5rem;
  pointer-events:none;
}
.noti.v{opacity:1}

/* footnote */
.footnote .n,.footnote .n *{
  cursor:help;
}
.footnote.t>:not(.n) a{box-shadow:var(--preset-boxshadow-underline-2) var(--color-theme-double-change);padding-bottom:var(--size-linespace-half);}
.footnote.t>:not(.n) a:hover{box-shadow:var(--preset-boxshadow-underline-2) var(--color-theme-triple-change);}
.footnote.t>:not(.n)::before{
  content:'';
  position:absolute;
  top:-.56rem;left:calc(var(--left,0px));
  width:0;height:0;
  border-style:solid;border-width:.3rem;
  border-color:transparent transparent var(--color-theme-change) transparent;
}
.footnote.t>:not(.n){
  box-sizing:border-box;
  top:1.25rem;left:calc(0px - var(--left,0px));
  background-color:var(--color-theme-change);
  padding: 1em;
  box-shadow:.18rem .18rem .47rem 0 rgba(0,0,0,.1);
  width:90vw;max-width:max-content;white-space:pre-line;
}
.footnote.t *:not(.n)::selection{background-color:var(--color-theme-double-change);}
.footnote.t *:not(.n)::-moz-selection{background-color:var(--color-theme-double-change);}
.footnote.t *:not(.n)::-webkit-selection{background-color:var(--color-theme-double-change);}
@media (hover:hover){
  .footnote.t:hover>*:not(.n){display:block;}
}
@media (hover:none){.footnote.t>:not(.n){padding-top:2rem}}
.footnote.t .bar{
  margin-bottom:1em;
  display:flex;justify-content:space-between;
  font-size:1rem;
  background-color:var(--color-theme-change);
  top:0;right:0;width:100%;
}
.footnote.t .bar a{
  border:hidden;cursor:pointer;text-align:center;
  width:1.7em;
}

/* details */
main details>summary{cursor:pointer;}
main details>:not(summary){margin-left:1.5em;margin-right:1.5em;box-sizing:border-box;}
main details>summary+*{margin-top:1em}
main .index summary+*{margin-top:0}
main details>:last-child{margin-bottom:0}
details>ul,details>ol{padding-left:0}

/* tags */
.tags li:hover::before{color:var(--color-theme-triple-change)}

/* button */
.button{
  cursor:pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button:hover{background-color:var(--color-theme-double-change)}

/* badge */
.badge:not(.nothover):hover{transform:translate(-.1rem,-.1rem)}
img.badge:not(.nothover):hover,svg.badge:not(.nothover):hover{
  filter:drop-shadow(.3rem .3rem .5rem rgba(0.0.0.,2));
  -webkit-filter:drop-shadow(.3rem .3rem .5rem rgba(0,0,0,.2));
}
.badge:not(.nothover,img,svg):hover{
  box-shadow:.3rem .3rem .5rem var(--color-theme-change);
}

/* interaction change */

/* anchor */
.highlight,main a:not(.no-deco,.no-deco *,.footnote.t a,.footnote .n,.footnote .n *,h1.post a,h2>a,h3>a,h4>a,h5>a,h6>a,.badge,a.image,.image a:not(figcaption *),.tags a):hover,.sidebar-bar a:hover{
  box-shadow:var(--preset-boxshadow-underline-2) var(--color-theme-double-change);padding-bottom:var(--size-linespace-half);
}

/* side border */
main details:hover,.display:hover{
  border-left-color:var(--color-theme-double-change);border-right-color:var(--color-theme-double-change);
}