/* selection */
::selection{background-color:var(--c-tm-c);}
::-moz-selection{background-color:var(--c-tm-c);}
::-webkit-selection{background-color:var(--c-tm-c);}
h1.post::selection{background-color:var(--c-tm-db-c);}
h1.post::-moz-selection{background-color:var(--c-tm-db-c);}
h1.post::-webkit-selection{background-color:var(--c-tm-db-c);}

/* no user selection */
.no-drag,.footnote .n,.badge
{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important;}

/* monospace */
.monospace,pre,code{
  font-family:var(--f-monospace);
}

/* cookie notification 
#cookieChoiceInfo{
  bottom:0;top:auto;font-size:var(--s-font-p);
  background-color:var(--c-tm-c);
  box-shadow:0 -.19rem .47rem rgba(0,0,0,.1);
}
#cookieChoiceInfo *{color:var(--c-ft)}
#cookieChoiceInfo .cookie-choices-text{font-size:1em;font-family:var(--f-sanserif);word-break:keep-all;}
#cookieChoiceInfo .cookie-choices-buttons{font-size:1.1em;font-family:var(--f-sanserif)} */

/* post title */
h1.post{pointer-events:none;}
h1.post a{pointer-events:auto;}
h1.post:hover{background-color:var(--c-tm-db-c)}

/* neck */
.neck{
  font-family:var(--f-sanserif);
}

/* bottom */
.tags{cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.tags li a{font-family:var(--f-sanserif);font-weight:300;}
.tags li a:hover{font-weight:400}
.tags.current li::before{
  font-family:var(--f-sanserif);font-weight:700;
}

/* upbar */
#upbar{
  box-shadow:0 .19rem .47rem rgba(0,0,0,.1);
}
#upbar-search-button{cursor:pointer}
#upbar-search-button:active{box-shadow:none;outline:none;-webkit-box-shadow:none;}
#upbar-move-button-up,#upbar-move-button-down,#upbar-share-button{cursor:pointer}
#upbar-share-button-noti{
  top:2.7rem;left:-2rem;
  width:7rem;
  font-size:1rem;text-align:center;
}

/* noti */
.noti{
  background-color:rgba(0,0,0,.6);color:white;
  padding:.2rem;
  transition:all .2s linear;
  cursor:default;
  border-radius:.5rem;
  pointer-events:none;
}
.noti.v{opacity:1}

/* mark */
mark{background:linear-gradient(to top,var(--c-tm-c) 40%,transparent 0);color:var(--c-ft);}

/* button */
.button{
  cursor:pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button:hover{background-color:var(--c-tm-db-c)}

/* footnote */
.footnote .n,.footnote .n *{
  cursor:help;
}
.footnote.t>:not(.n) a{border-bottom-color:var(--c-tm-db-c)}
.footnote.t>:not(.n) a:hover{border-bottom-color:var(--c-tm-tp-c)}
.footnote.t>:not(.n)::before{
  content:'';
  position:absolute;
  top:-.56rem;left:calc(var(--left,0px));
  width:0;height:0;
  border-style:solid;border-width:.3rem;
  border-color:transparent transparent var(--c-tm-c) transparent;
}
.footnote.t>:not(.n){
  box-sizing:border-box;
  top:1.25rem;left:calc(0px - var(--left,0px));
  background-color:var(--c-tm-c);
  padding: 1em;
  box-shadow:.18rem .18rem .47rem 0 rgba(0,0,0,.1);
  width:90vw;max-width:max-content;white-space:pre-line;
}
.footnote.t *:not(.n)::selection{background-color:var(--c-tm-db-c);}
.footnote.t *:not(.n)::-moz-selection{background-color:var(--c-tm-db-c);}
.footnote.t *:not(.n)::-webkit-selection{background-color:var(--c-tm-db-c);}
@media (hover:hover){
  .footnote.t:hover>*:not(.n){display:block;}
}
@media (hover:none){.footnote.t>:not(.n){padding-top:2rem}}
.footnote.t .bar{
  margin-bottom:1em;
  display:flex;justify-content:space-between;
  font-size:1rem;
  background-color:var(--c-tm-db-c);
  top:0;right:0;width:100%;
}
.footnote.t .bar a{
  border:hidden;cursor:pointer;text-align:center;
  width:1.7em;
}

/* table */
.table-nospace{border-collapse:collapse;border-spacing:0;border-style:none;padding:0;}
.table-nospace td ,.table-nospace tr{border-spacing:0;border-style:none;padding:0;margin:0;}
.table-yesspace td{padding:.5em;}
.table-yesspace{margin:.5em;}
table.innerline td{border:.05em solid var(--c-gr-2)}
table.innerline{border-collapse:collapse;border:hidden;}

/* group */
.group{width:max-content;height:auto;white-space:nowrap}
.group>*{height:auto;max-height:100%;}

/* hr */
hr.dot{border-radius:50%;}

/* badge */
.badge:not(.nothover):hover{transform:translate(-.1rem,-.1rem)}
img.badge:not(.nothover):hover,svg.badge:not(.nothover):hover{
  filter:drop-shadow(.3rem .3rem .5rem rgba(0.0.0.,2));
  -webkit-filter:drop-shadow(.3rem .3rem .5rem rgba(0,0,0,.2));
}
.badge:not(.nothover,img,svg):hover{
  box-shadow:.3rem .3rem .5rem var(--c-tm-c);
}

/* details */
main details>summary{
  padding:0 .7em;
  width:100%;
  cursor:pointer;
  color:var(--c-ft);
  box-sizing:border-box;
}
main details>:not(summary){margin-left:1.5em;margin-right:1.5em;box-sizing:border-box;}
main details>summary+*{margin-top:1em}
main .index summary+*{margin-top:0}
main details>:last-child{margin-bottom:0}
details>ul,details>ol{padding-left:0}

/* interaction change */

/* side border */
main details:hover{
  border-left-color:var(--c-tm-db-c);border-right-color:var(--c-tm-db-c);
}