/* number */
:root{
  --n-lineheight:1.7;
}

/* size */
:root{
  --s-font-p:1.15rem;
}

/* colors */
:root{
  --c-tm:#ffe7ee;
  --c-tm-db:#ffd1db;
  --c-tm-tp:#ffb7c7;
}
body:not([data-theme="dark"]){
  --c-bg:white;
  --c-bg-g:white;
  --c-ft:black;
  --c-tm-b:#ffe7ee;
  --c-ct-r:white;
  --c-tm-c:#ffe7ee;
  --c-tm-gr:#ffe7ee;
  --c-tm-7:#ffe7ee;
  --c-tm-db-c:#ffd1db;
  --c-tm-tp-c:#ffb7c7;
  --c-gr-2:#cccccc;
  --c-gr-5:#808080;
}

body[data-theme="dark"]{
  --c-bg:#1a1a1a;
  --c-bg-g:#333333;
  --c-ft:#ddd;
  --c-tm-b:#1a1a1a;
  --c-ct-r:#cccccc;
  --c-tm-c:#404040;
  --c-tm-gr:#cccccc;
  --c-tm-7:#777777;
  --c-tm-db-c:#777777;
  --c-tm-tp-c:#9e9e9e;
  --c-gr-2:#333333;
  --c-gr-5:#a0a0a0;
}

/* fonts */
:root{
  --f-serif:'NanumMyeongjo',serif;
  --f-sanserif:'IBM Plex Sans KR',sans-serif;
  --f-monospace:'NanumGothicCodingLigature',monospace;
}


/* all */

/* selection */
::selection{background-color:var(--c-tm-c);}
::-moz-selection{background-color:var(--c-tm-c);}
::-webkit-selection{background-color:var(--c-tm-c);}
.post .title::selection{background-color:var(--c-tm-db-c);}
.post .title::-moz-selection{background-color:var(--c-tm-db-c);}
.post .title::-webkit-selection{background-color:var(--c-tm-db-c);}

.noDrag,.jump-link,.PageList,.hp1,.comment-reply,.comment-actions,.avatar-image-container,#blog-pager,.footnote .n
{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important;}

/* a */
a{text-decoration:none;color:var(--c-ft);}
.highlight,.main a:not(.noDeco,.noDeco a,.noUnderline,.noUnderline a,.footnote.t a,.footnote .n,.footnote .n *,.jump-link a,.post-footer a,#comments a,.post .title a,.index a,h2>a,h3>a,h4>a,h5>a,h6>a),.comment .comment-content a,.comment .comment-content a,.footnote.t>:not(.n) a{
  position:relative;
  border-bottom:.2em var(--c-tm-c) solid;
}
.highlight,main a:not(.noDeco,.noDeco *,.footnote.t a,.footnote .n,.footnote .n *,.jump-link a,.post-footer a,#comments a,.post .title a,h2>a,h3>a,h4>a,h5>a,h6>a):hover,.comment .comment-content a:hover,.comment .comment-content a:hover,.post-labels a:hover,.feed-links a:hover,.widget.Label a:hover,.widget.PopularPosts a:hover,.widget.FeaturedPost a:hover{
  border-bottom:.2em var(--c-tm-db-c) solid;
}

/* scroll margin */
body *{scroll-margin-top:4rem}

/* frame */

body{
  font-size:1rem;font-family:var(--f-serif);
  color:var(--c-ft);
  background-color:var(--c-bg);
  min-width:15.7rem;
  margin:0;
  padding-bottom:1rem;
}

/* cookie notification */
#cookieChoiceInfo{
  bottom:0;top:auto;font-size:var(--s-font-p);
  background-color:var(--c-tm-c);
  box-shadow:0 -.19rem .47rem rgba(0,0,0,.1);
}
#cookieChoiceInfo *{color:var(--c-ft)}
#cookieChoiceInfo .cookie-choices-text{font-size:1em;font-family:var(--f-sanserif);word-break:keep-all;}
#cookieChoiceInfo .cookie-choices-buttons{font-size:1.1em;font-family:var(--f-sanserif)}

/* header */

#navbar{display:none;}

header{height:auto}
#header{text-align:center;}
.titlewrapper {background-color:var(--c-tm-c);height:4rem;}
.Header .hp1 {
  font-size:3rem;font-family:var(--f-sanserif);font-weight:200;
  color:var(--c-ft);
  cursor:default;
}
.header-inner .section{margin:0}

.Header .description{font-size:1.125rem;color:var(--c-ft);}
.header-inner .Header .titlewrapper{padding-top:1rem;padding-bottom:2.2rem;margin-top:3.5rem;}

/* tabs */
.tabs .widget ul{
  margin:0;
  padding:0;
  overflow:hidden;
  list-style:none
}
.tabs .widget li{
  margin:0;
  padding:0;
  float:left
}
.tabs-outer{margin-top:-4.2rem}
.tabs .widget{margin-top:0;}
.tabs .widget li{margin:0;padding:0;float:left;}
.tabs-outer .widget.PageList{height:2.2rem;margin:0;}
.tabs-inner .widget ul{
  margin-top: 0;
  margin-left: -.5em;margin-right: -.5em;
  font-size:.8rem;
}
.tabs-inner .widget li a{
  display: inline-block;
  padding: .6rem 1rem .4rem;
  font-size:1rem;font-family:var(--f-sanserif);
  color:var(--c-ft);
 }
.tabs-inner .widget li.selected{background-color:var(--c-bg);}
.tabs-outer .widget.PageList>div.r-hp2{display:none;}
.tabs-outer .widget.PageList li:hover{background-color:var(--c-bg)}
body.postall #PageList1 a[href="https://peu0em.blogspot.com/index.html"]{background-color:var(--c-bg)}


/* date */

.r-hp2.date-header {
  font-size:.8rem;font-family:var(--f-sanserif);
  cursor:default;
}
.date-header span{
  color:#999999;
  padding:0.4em;
  letter-spacing:.3em;
  margin:inherit;
}

/* post title */
.post .title{
  margin:0;
  background-color:var(--c-tm-c);padding:.7em 1em;width:100%;box-sizing:border-box;
  font-size:1.2rem;
  pointer-events:none;
}
.post .title h1{
  font-family:var(--f-sanserif);font-weight:100;
  margin:0;
}
.post .title a{color:var(--c-ft);pointer-events:auto;}
.post .title:hover{background-color:var(--c-tm-db-c)}

.post{width:100%;}

/* bottom */

.bottom{padding:1rem}

.tags{cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.tags li a{font-family:var(--f-sanserif);font-weight:300;}
.tags li a:hover{font-weight:400}
.tags.current{padding:1rem;font-size:1.2rem}
.tags.current li+li{margin-left:.75em}
.tags.current li::before{
  content:'#';font-family:var(--f-sanserif);font-weight:700;color:var(--c-tm-db-c);
  display:inline;
  margin-right:.25em
}
.tags.current li{display:inline}

/* inner post */

main{
  font-size:var(--s-font-p);line-height:var(--n-lineheight);word-break:keep-all;letter-spacing:-.02em;word-spacing:.1em;
  position:relative;padding:1.5rem;width:100%;box-sizing:border-box;
}

.monospace,pre,code{
  font-family:var(--f-monospace);letter-spacing:0;
  overflow-wrap:break-word;white-space:preserve;
}

linespace{display:block;height:.7em}


/* additional functions */

/* upbar */
#upbar-search-bar::placeholder{
  font-size:1rem;
  color:var(--c-ft);
}
#upbar{
  width:100%;height:3rem;
  position:fixed;top:0;left:0;right:0;
  z-index:9999;
  background-color:var(--c-tm-b);
  display:box;
  vertical-align:middle;
  padding:.25rem 0;
  box-shadow:0 .19rem .47rem rgba(0,0,0,.1);
  }
#upbar-search-bar{
  position:relative;float:right;padding:0 .5rem;margin:.25rem .5rem .25rem 0;
  width:30rem;max-width:calc(100% - 10rem);height:2.5rem;border:0;
  font-size:1rem;
  background-color:var(--c-bg-g);color:var(--c-ft);
  outline:none;
}
#upbar-search-button{
  text-align:center;
  background-color:var(--c-bg-g);
  width:2.5rem;height:2.5rem; border:0;margin:.25rem .5rem .25rem 0;
  box-shadow:none;
  float:right;position:relative;
  font-size:1.56rem;color:var(--c-tm-gr);
  cursor:pointer;
}
#upbar-search-button:active{box-shadow:none;outline:none;-webkit-box-shadow:none;}
#upbar-moveB{position:relative;font-size:0;float:left;margin:.25rem 0 .25rem .5rem;}
@-moz-document url-prefix(){#upbar-moveB{top:-.12rem;}}
#upbar-moveB-up,#upbar-moveB-down,#upbar-shareB{
  background-color:transparent;box-shadow:none;border:none;
  cursor:pointer;padding:0;
}
#upbar-moveB svg{height:1rem;width:2.5rem;}
#upbar-moveB button{width:2.5rem;height:1rem;display:block;}
#upbar-moveB-down{margin-top:.5rem;}
#upbar-shareB svg{height:2.5rem;width:2.5rem;}
#upbar-shareB{
  float:left;margin:.25rem 0 .25rem .5rem;width:2.5rem;height:2.5rem;
  position:relative;
}
#upbar-shareB-noti{
  top:2.7rem;left:-2rem;
  width:7rem;
  font-size:1rem;text-align:center;
}
#upbar-moveB svg{fill:var(--c-ct-r)}
#upbar-shareB svg{stroke:var(--c-ct-r)}
#upbar-moveB button:hover svg{fill:var(--c-tm-db-c)}
#upbar-shareB:hover svg{stroke:var(--c-tm-db-c)}
#upbar-search-button:hover{background-color:var(--c-tm-db-c);color:var(--c-ct-r)}

/* footer */
.footer{height:5rem;padding:1rem;display:flex;justify-content:center;}
.footer>*{vertical-align:middle;margin:auto .5rem;height:3.5rem;margin:auto .5rem;}
.footer .button.i{width:3.5rem;}

/* feed button */
#feed-button>svg{width:60%;height:60%;margin:20% auto;display:block;fill:var(--c-ft);}

/* theme button */
#theme-button>svg{display:none;}
body:not([data-theme="dark"]) #theme-button-s,body[data-theme="dark"] #theme-button:hover #theme-button-s,
body[data-theme="dark"] #theme-button-m,body:not([data-theme="dark"]) #theme-button:hover #theme-button-m{
  display:block;
}
body[data-theme="dark"] #theme-button:hover #theme-button-m,body:not([data-theme="dark"]) #theme-button:hover #theme-button-s{
  display:none;
}
body:not([data-theme="dark"]) #theme-button,body[data-theme="dark"] #theme-button:hover{background-color:var(--c-tm);}
#theme-button-s{margin:auto;width:2.5rem;height:2.5rem;fill:black;stroke-width:0;}
body[data-theme="dark"] #theme-button-s,body:not([data-theme="dark"]) #theme-button:hover #theme-button-s{display:none;}
body[data-theme="dark"] #theme-button,body:not([data-theme="dark"]) #theme-button:hover{background-color:#333333;}
#theme-button-m{margin:auto;width:2.3rem;height:2.3rem;stroke-width:0;fill:#ddd;}

/* language button */
#lang-select{
  padding:.2em .5rem .2em 1em;
  font-size:1rem;
  border:none;background-color:var(--c-tm-c);
  font-family:var(--f-serif);color:var(--c-ft);
}
#lang-select:hover{background-color:var(--c-tm-db-c)}

/* noti */
.noti{
  position:absolute;
  background-color:rgba(0,0,0,.6);color:white;
  padding:.2rem;
  transition:all .2s linear;
  cursor:default;
  border-radius:.5rem;
  opacity:0;
  pointer-events:none;
}
.noti.v{opacity:1}

/* mark */
mark{background:linear-gradient(to top,var(--c-tm-c) 40%,transparent 0);color:var(--c-ft);}

/* dfn */
dfn{all:unset}

/* h */
h2,h3,h4,h5,h6{
  font-family:var(--f-sanserif);letter-spacing:-.02em;word-spacing:.2em;line-height:1.2;
  overflow-wrap:break-word;
  position:relative;margin-top:1.5em;margin-bottom:calc(var(--s-font-p) * 1.5);
}
h2:first-child,h2+h3,h3+h4,h4+h5,h5+h6,h2.first,h3.first,h4.first,h5.first,h6.first{margin-top:0;}
h2:not(.noDeco)::after,h3:not(.noDeco)::after,h4:not(.noDeco)::after,h5:not(.noDeco)::after,h6:not(.noDeco)::after{
  content:'';background-color:var(--c-tm-c);height:.2rem;
  position:absolute;display:block;
  top:50%;left:0;right:1em;
  z-index:-2;
}
h2:not(.noDeco)::before,h3:not(.noDeco)::before,h4:not(.noDeco)::before,h5:not(.noDeco)::before,h6:not(.noDeco)::before{
  display:block;
  position:absolute;top:0;left:0;bottom:0;
  content:attr(content);
  z-index:-1;
  padding-right:1em;
  background-color:var(--c-bg);color:var(--c-bg);
  max-width:100%;box-sizing:border-box;
}
h2{font-size:4em;font-weight:200;}
h3{font-size:2em;font-weight:300;}
h4{font-size:1.5em;font-weight:300;}
h5{font-size:1.2em;font-weight:300;}
h6{font-size:1em;font-weight:300;}

/* details */
main details{
  margin:1.3em 0;width:100%;overflow:hidden;
  border-left:.5rem solid var(--c-tm-c);
}
main details>summary{
  padding:0 .7em;
  width:100%;
  cursor:pointer;
  color:var(--c-ft);
  box-sizing:border-box;
}
main details:hover{border-left-color:var(--c-tm-db-c)}

/* button */
.button{
  border:unset;
  padding:.1em .5em;background-color:var(--c-tm-c);
  font-family:var(--f-sanserif);
  cursor:pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button:hover{background-color:var(--c-tm-db-c)}
.button.i{
  font-size:0;
  border-radius:30%;
  padding:0;
}

/* image */
.image,.image.g>*,.image:not(img) img{width:auto;height:auto;max-width:calc(100% - 1em);}
.image{margin-top:calc(var(--n-lineheight) * 1em);margin-bottom:calc(var(--n-lineheight) * 1em);}
.image+.image{margin-top:0;}
.image:not(.center){margin:1em .5em}
.image>*{max-width:100%}
.image.right{float:right;margin:0 0 .5em 1em}
table.image{border-collapse:collapse;border-spacing:0;border-style:none;padding:0;display:block;}
table.image td , .image tr {border-spacing:0;border-style:none;padding:0;margin:0;}
table.image tr:first-child>td>*{display:block;padding:0;margin:0;overflow:hidden;width:auto;height:auto;}
table.image tr:last-child>td{font-size:small;text-align:center;padding-top:.5em;}
table.image.center tbody{display:block;width:max-content;margin-left:auto;margin-right:auto;}
.image.g>*{max-height:var(--height);}
.image.g.center{text-align:center}

/* icon */
.icon{height:1.5em;width:auto;border:0px;vertical-align:bottom;display:inline;}

/* footnote */
.footnote .n,.footnote .n *{
  cursor:help;
  text-decoration: none;
  color:var(--c-gr-5);
  margin-right:.1em;
}
.footnote.t .n{
  vertical-align: super;
  font-size:.8em;letter-spacing:-.1em;
}
.footnote.b .n{font-size:1em;max-width:10vw;word-break:keep-all;overflow-wrap:break-word;}
.footnote.t{display:inline;position:relative;}
.footnote.t>:not(.n) a{border-bottom-color:var(--c-tm-db-c)}
.footnote.t>:not(.n) a:hover{border-bottom-color:var(--c-tm-tp-c)}
.footnote.b{
  border-top:.2rem solid var(--c-tm-c);
  padding-top:.3rem;padding-left:.6rem;
  margin-top:2rem;
}
.footnote.b>*{display:flex}
.footnote.b:not(.n){font-size:.8em;}
.footnote.t>:not(.n)::before{
  content:'';
  position:absolute;
  top:-.56rem;left:calc(var(--left,0px));
  width:0;height:0;
  border-style:solid;border-width:.3rem;
  border-color:transparent transparent var(--c-tm-c) transparent;
}
.footnote.t>:not(.n){
  display:none;
  z-index:3;position:absolute;box-sizing:border-box;
  top:1.25rem;left:calc(0px - var(--left,0px));
  background-color:var(--c-tm-c);
  padding: 1em;
  box-shadow:.18rem .18rem .47rem 0 rgba(0,0,0,.1);
  width:90vw;max-width:max-content;white-space:pre-line;
}
.footnote.t *:not(.n)::selection{background-color:var(--c-tm-db-c);}
.footnote.t *:not(.n)::-moz-selection{background-color:var(--c-tm-db-c);}
.footnote.t *:not(.n)::-webkit-selection{background-color:var(--c-tm-db-c);}
@media (hover:hover){
  .footnote.t:hover>*:not(.n){display:block;}
}
.footnote.b>*>:not(.n){float:left;margin-left:.7em;max-width:calc(100% - 2em);}
@media (hover:none){.footnote.t>:not(.n){padding-top:2rem}}
.footnote.t .bar{
  display:block;margin-bottom:1em;
  display:flex;justify-content:space-between;
  font-size:1rem;
  background-color:var(--c-tm-db-c);
  position:absolute;top:0;right:0;width:100%;
}
.footnote.t .bar a{
  border:hidden;cursor:pointer;text-align:center;
  width:1.7em;
}

/* script */
.script{margin: 2em 0;border-left:.5rem solid var(--c-tm-c);padding-left:1em;}

/* list */
li{white-space:normal;overflow-wrap:break-word;}
li::marker{color:var(--c-tm-db-c)}
ul{list-style-type:square;}
ol>li::marker{font-weight:bold;}
ol.index,.index ol{counter-reset:index;list-style-type:none;}
ol.index li{counter-increment:index;display:table;}
ol.index li::before{
  content:counters(index,". ") ".\00a0";
  color:var(--c-tm-db-c);font-weight:bold;display:table-cell;white-space:nowrap;
}
ol.index ol{padding-left:0;}
details>ul,details>ol{padding-left:0}
ul.horizontal,ol.horizontal{display:flex;justify-content:space-evenly}
ul.horizontal>li,ol.horizontal>li{margin-right:2rem}
li .flex{display:flex;flex-wrap:wrap;}
li .flex *{min-width:1px}
li .flex>ol,li .flex>ul{margin:-.25em 0}

/* table */
.table-nospace{border-collapse:collapse;border-spacing:0;border-style:none;padding:0;}
.table-nospace td ,.table-nospace tr{border-spacing:0;border-style:none;padding:0;margin:0;}
.table-yesspace td{padding:.5em;}
.table-yesspace{margin:.5em;}
table.innerline td{border:.05em solid var(--c-gr-2)}
table.innerline{border-collapse:collapse;border:hidden;}

/* display */
.display>*{
  display:block;position:relative;
  width:100%;
  margin:0 auto;
  width:100%; height:100%;
  }
.display{
  width:auto;margin:3em auto;
  border-left:.5rem solid var(--c-tm-c); border-right:.5rem solid var(--c-tm-c);
  box-sizing:border-box;display:block;
  }
.r-169-h>*{aspect-ratio:16/9;max-width:65rem;}
.r-169-v>*{aspect-ratio:9/16;max-width:25rem;}

/* group */
.group{width:max-content;height:auto;white-space:nowrap}
.group>*{height:auto;max-height:100%;}

/* hr */
hr{margin:1em auto;background-color:var(--c-tm-c);border:none;}
hr.dot{aspect-ratio:1/1;width:auto;height:.5rem;border-radius:50%;background-color:var(--c-tm-db-c)}
hr.line{height:.2rem;width:80%;}

/* additional post design */

/* center */
center{display:block;width:100%;}
center>*{margin-left:auto;margin-right:auto;}
.center:not(table){display:block}
.center{margin-left:auto;margin-right:auto;}
a.center,div.center{width:fit-content}

/* right */
.right+.right{clear:right}

/* override */

/* details */
main details>:not(summary){margin-left:1.5em}
main details>summary+*{margin-top:1em}
main .index summary+*{margin-top:0}
main details>:last-child{margin-bottom:0}

/* Custom Mobile */

@media (max-width:235px){#upbar{display:none;}}
@media (max-width:340px){
  #upbar-search-button{display:none;}
  #upbar-search-bar{max-width:calc(100% - 7rem);}
}
@media (max-width:768px){
  body{max-width:768px;}
  a.home-link{font-size:50px;}
  
  .sidebar-container{flex-direction:column}
  .sidebar{width:100%!important;height:20vh;margin-bottom:1rem;position:static}
  .sidebar-container>main{margin-left:0}
}
@media (max-width:1200px){
  footer td.columns-cell{display:block;width:100%!important}
}
@media screen and (max-width:500px){
  :root{--s-font-p:1rem}
}