/* number */
:root{
  --n-lineheight:1.7;
}

/* size */
:root{
  --s-font-p:1.15rem;
  --s-font-h1:2.5rem;
  --s-line-t:.5rem;
  --s-maxwidth:50rem;
}

/* colors */
:root{
  --c-tm:#ffe7ee;
  --c-tm-db:#ffd1db;
  --c-tm-tp:#ffb7c7;
}
body:not([data-theme="dark"]){
  --c-bg:white;
  --c-bg-g:white;
  --c-ft:black;
  --c-tm-b:#ffe7ee;
  --c-ct-r:white;
  --c-tm-c:#ffe7ee;
  --c-tm-gr:#ffe7ee;
  --c-tm-7:#ffe7ee;
  --c-tm-db-c:#ffd1db;
  --c-tm-tp-c:#ffb7c7;
  --c-gr-2:#cccccc;
  --c-gr-5:#808080;
}

body[data-theme="dark"]{
  --c-bg:#1a1a1a;
  --c-bg-g:#333333;
  --c-ft:#ddd;
  --c-tm-b:#1a1a1a;
  --c-ct-r:#cccccc;
  --c-tm-c:#404040;
  --c-tm-gr:#cccccc;
  --c-tm-7:#777777;
  --c-tm-db-c:#777777;
  --c-tm-tp-c:#9e9e9e;
  --c-gr-2:#333333;
  --c-gr-5:#a0a0a0;
}

/* fonts */
:root{
  --f-serif:'NanumMyeongjo',serif;
  --f-sanserif:'IBM Plex Sans KR',sans-serif;
  --f-monospace:'NanumGothicCodingLigature',monospace;
}

/* scroll margin */
body *{scroll-margin-top:4rem}

/* anchor */
a{text-decoration:none;color:var(--c-ft);}
.highlight,main a:not(.no-deco,.no-deco a,.no-underline,.no-underline a,.footnote.t a,.footnote .n,.footnote .n *,.jump-link a,h1.post a,.index a,h2>a,h3>a,h4>a,h5>a,h6>a,.badge,a.image,.tags a),.footnote.t>:not(.n) a{
  position:relative;
  border-bottom:.2em var(--c-tm-c) solid;
}

/* frame*/
body{
  font-family:var(--f-serif);
  color:var(--c-ft);font-size:1rem;
  color:var(--c-ft);
  background-color:var(--c-bg);
  margin:0;
  min-width:15rem;
  padding-bottom:1rem;
}
body.with-upbar{padding-top:3.5rem}
h1{
  margin:0;padding:.25em 1em;width:100%;box-sizing:border-box;
  background-color:var(--c-tm-c);
  font-size:var(--s-font-h1);
  word-break:keep-all;
  font-family:var(--f-sanserif);font-weight:100;
}
h1.index{font-size:3rem;font-size:3rem;text-align:center;}

/* monospace */
.monospace,pre,code{
  letter-spacing:0;
  overflow-wrap:break-word;white-space:preserve;
}

/* post title */
h1.post{text-align:center}
h1.post a{color:var(--c-ft)}

/* neck */
.neck{
  width:100%;box-sizing:border-box;
  margin:1.5rem auto;
}
.neck .flex{
  width:100%;margin:auto;
  font-size:2rem;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}
.neck .badge{
  padding:.25em;
}
.neck .date{
  font-size:1rem;
  color:var(--c-gr-5);
  text-align:center;
}

/* main */
main{
  font-size:var(--s-font-p);line-height:var(--n-lineheight);word-break:keep-all;letter-spacing:-.02em;word-spacing:.1em;
  width:100%;
  margin:3rem auto;
}

/* post */
div.post{
  width:100%;padding:1.5rem;box-sizing:border-box;
  max-width:var(--s-maxwidth);
  margin:auto;
}

/* bottom */
.tags{
  font-size:1.2rem;
  display:flex;flex-wrap:wrap;
  column-gap:.75em;
}
.tags li a{word-break:keep-all;}
.tags li::before{
  content:'#';color:var(--c-tm-db-c);
  display:inline;
  margin-right:.25em
}
.tags li{display:inline}
.tags.current{padding:1rem}
.tags.all{
  padding:0 1.5em;
  width:100%;
  max-width:30em;
  box-sizing:border-box;
  margin:1.5rem auto;
}

/* upbar */
#upbar-search-bar::placeholder{
  font-size:1rem;
  color:var(--c-ft);
}
#upbar{
  width:100%;height:3rem;
  position:fixed;top:0;left:0;right:0;
  z-index:9999;
  background-color:var(--c-tm-b);
  display:box;
  vertical-align:middle;
  padding:.25rem 0;
}
#upbar-search-bar{
  position:relative;float:right;padding:0 .5rem;margin:.25rem .5rem .25rem 0;
  width:30rem;max-width:calc(100% - 10rem);height:2.5rem;border:0;
  font-size:1rem;
  background-color:var(--c-bg-g);color:var(--c-ft);
  outline:none;
}
#upbar-search-button{
  background-color:var(--c-bg-g);
  width:2.5rem;height:2.5rem; border:0;margin:.25rem .5rem .25rem 0;
  float:right;position:relative;
  font-size:1.56rem;color:var(--c-tm-gr);
  text-align:center;
  box-shadow:none;
}
#upbar-move-button{position:relative;font-size:0;float:left;margin:.25rem 0 .25rem .5rem;}
@-moz-document url-prefix(){#upbar-move-button{top:-.12rem;}}
#upbar-move-button-up,#upbar-move-button-down,#upbar-share-button{
  padding:0;
  background-color:transparent;box-shadow:none;border:none;
}
#upbar-move-button svg{height:1rem;width:2.5rem;}
#upbar-move-button button{width:2.5rem;height:1rem;display:block;}
#upbar-move-button-down{margin-top:.5rem;}
#upbar-share-button svg{height:2.5rem;width:2.5rem;}
#upbar-share-button{
  float:left;margin:.25rem 0 .25rem .5rem;width:2.5rem;height:2.5rem;
  position:relative;
}
#upbar-move-button svg{fill:var(--c-ct-r)}
#upbar-share-button svg{stroke:var(--c-ct-r)}
#upbar-move-button button:hover svg{fill:var(--c-tm-db-c)}
#upbar-share-button:hover svg{stroke:var(--c-tm-db-c)}
#upbar-search-button:hover{background-color:var(--c-tm-db-c);color:var(--c-ct-r)}

/* noti */
.noti{
  position:absolute;
  opacity:0;
}

/* footer */
.footer{height:5rem;padding:1rem;display:flex;justify-content:center;flex-wrap:wrap;row-gap:1rem;}
.footer>*{vertical-align:middle;margin:auto .5rem;height:3.5rem;margin:auto .5rem;}
.footer .button.i{width:3.5rem;}

/* feed button */
#feed-button>svg{width:60%;height:60%;margin:20% auto;display:block;fill:var(--c-ft);}

/* theme button */
#theme-button>svg{display:none;}
body:not([data-theme="dark"]) #theme-button-s,body[data-theme="dark"] #theme-button:hover #theme-button-s,
body[data-theme="dark"] #theme-button-m,body:not([data-theme="dark"]) #theme-button:hover #theme-button-m{
  display:block;
}
body[data-theme="dark"] #theme-button:hover #theme-button-m,body:not([data-theme="dark"]) #theme-button:hover #theme-button-s{
  display:none;
}
body:not([data-theme="dark"]) #theme-button,body[data-theme="dark"] #theme-button:hover{background-color:var(--c-tm);}
#theme-button-s{margin:auto;width:2.5rem;height:2.5rem;fill:black;stroke-width:0;}
body[data-theme="dark"] #theme-button-s,body:not([data-theme="dark"]) #theme-button:hover #theme-button-s{display:none;}
body[data-theme="dark"] #theme-button,body:not([data-theme="dark"]) #theme-button:hover{background-color:#333333;}
#theme-button-m{margin:auto;width:2.3rem;height:2.3rem;stroke-width:0;fill:#ddd;}

/* language button */
#lang-select{
  padding:.2em .5rem .2em 1em;
  font-size:1rem;
  border:none;background-color:var(--c-tm-c);
  font-family:var(--f-serif);color:var(--c-ft);
}
#lang-select:hover{background-color:var(--c-tm-db-c)}

/* dfn */
dfn{all:unset}

/* h */
h2,h3,h4,h5,h6{
  letter-spacing:-.02em;word-spacing:.2em;line-height:1.2;
  overflow-wrap:break-word;
  position:relative;margin-top:1.5em;margin-bottom:calc(var(--s-font-p) * 1.5);
  overflow:hidden;
  font-family:var(--f-sanserif);
}
/*div.post h2,div.post h3,div.post h4,div.post h5,div.post h6{border-right:var(--s-line-t) solid var(--c-tm-c);}*/
h2:first-child,h2+h3,h3+h4,h4+h5,h5+h6,h2.first,h3.first,h4.first,h5.first,h6.first{margin-top:0;}
h2{font-size:calc(var(--s-font-h1) * 1.5);font-weight:200;}
h3{font-size:calc(var(--s-font-h1) * 1);font-weight:200;}
h4{font-size:calc(var(--s-font-h1) * .75);font-weight:300;}
h5{font-size:calc(var(--s-font-h1) * .5);font-weight:300;}
h6{font-size:clac(var(--s-font-h1) * .25);font-weight:300;}

/* button */
.button{
  font-family:var(--f-sanserif);
  border:unset;
  padding:.1em .5em;background-color:var(--c-tm-c);
}
.button.i{
  font-size:0;
  padding:0;
  border-radius:30%;
}

/* image */
.image,.image:not(img) img{width:auto;height:auto;max-width:100%;}
.image{margin-top:calc(var(--n-lineheight) * 1em);margin-bottom:calc(var(--n-lineheight) * 1em);}
.image:not(.center){margin:1em .5em}
.image>*{max-width:100%}
.image.right{float:right;margin:0 0 .5em 1em}
table.image{border-collapse:collapse;border-spacing:0;border-style:none;padding:0;display:block;}
table.image td , .image tr {border-spacing:0;border-style:none;padding:0;margin:0;}
table.image tr:first-child>td>*{display:block;padding:0;margin:0;overflow:hidden;width:auto;height:auto;}
table.image tr:last-child>td{font-size:small;text-align:center;padding-top:.5em;}
table.image.center tbody{display:block;width:max-content;margin-left:auto;margin-right:auto;}

/* icon */
.icon{height:1.5em;width:auto;border:0px;vertical-align:bottom;display:inline;}

/* footnote */
.footnote .n,.footnote .n *{
  text-decoration: none;
  color:var(--c-gr-5);
  margin-right:.1em;
}
.footnote.t .n{
  vertical-align: super;
  font-size:.8em;letter-spacing:-.1em;
}
.footnote.b .n{font-size:1em;max-width:10vw;word-break:keep-all;overflow-wrap:break-word;}
.footnote.t{display:inline;position:relative;}
.footnote.b{
  padding-top:.3rem;padding-left:.6rem;
  margin-top:calc(var(--s-font-p) * 5);
  border-top:.2rem solid var(--c-tm-c);
}
.footnote.b>*{display:flex}
.footnote.b:not(.n){font-size:.8em;}
.footnote.t>:not(.n){
  display:none;
  z-index:3;position:absolute;
}
.footnote.b>*>:not(.n){float:left;margin-left:.7em;max-width:calc(100% - 2em);}
.footnote.t .bar{position:absolute}

/* script */
.script:not(details>.script){margin-top:2em;margin-bottom:2em;}
.script{padding:0 1em;}

/* list */
main li{white-space:normal;overflow-wrap:break-word;}
ol>li::marker{font-weight:bold;}
ol.index,.index ol{counter-reset:index;list-style-type:none;}
ol.index li{counter-increment:index;display:table;}
ol.index li::before{
  content:counters(index,". ") ".\00a0";
  color:var(--c-tm-db-c);font-weight:bold;display:table-cell;white-space:nowrap;
}
main ol{padding-left:1em}
main ul{padding-left:.75em;list-style-type:square;}
li::marker{color:var(--c-tm-db-c)}
main ol.index ol{padding-left:0;}
ul.horizontal,ol.horizontal{display:flex;justify-content:space-evenly}
ul.horizontal>li,ol.horizontal>li{margin-right:2rem}
li .flex{display:flex;flex-wrap:wrap;}
li .flex>ol,li .flex>ul{margin-left:.5em}
li .flex *{min-width:1px}

/* display */
.display>*{
  display:block;position:relative;
  margin:0 auto;
  width:100%; height:100%;
}
.display{
  width:auto;
  box-sizing:border-box;display:block;
}
.display:not(details>.display){margin:3em 0}
.r-169-h>*{aspect-ratio:16/9;}
.r-169-v>*{aspect-ratio:9/16;max-width:25rem;}

/* hr */
hr{border:none}
hr.dot,hr.line{margin:1em auto;background-color:var(--c-tm-c);}
hr.dot{aspect-ratio:1/1;width:auto;height:.5rem;background-color:var(--c-tm-db-c)}
hr.line{height:.2rem;width:80%;}
hr.linespace{height:0;margin:.35em auto;}

/* badge */
.badge{
  height:auto;width:auto;
  border-radius:2.5rem;
}

/* details */
main details{
  margin:1.3em 0;overflow:hidden;
}
main details>summary{
  padding:0 .7em;
  width:100%;
  color:var(--c-ft);
  box-sizing:border-box;
}

/* center */
center{display:block;width:100%;}
center>*{margin-left:auto;margin-right:auto;}
.center:not(table,.flex){display:block}
.center{margin-left:auto;margin-right:auto;}
a.center,div.center{width:fit-content}

/* right */
.right+.right{clear:right}

/* group */
.group{width:max-content;height:auto;white-space:nowrap}
.group>*{height:auto;max-height:99%;}

/* side border */
main details,.neck,.display,.script{
  border-left:var(--s-line-t) solid var(--c-tm-c);border-right:var(--s-line-t) solid var(--c-tm-c);
}

/* mobile */
@media (max-width:15rem){
  body.with-upbar{padding-top:0;}
  #upbar{display:none;}
}
@media (max-width:20rem){
  #upbar-search-button{display:none;}
  #upbar-search-bar{max-width:calc(100% - 7rem);}
}
@media screen and (max-width:500px){
  :root{--s-font-p:1rem}
  :root{--s-font-h1:2rem}
}
@media (max-width:767px){
}
@media (max-width:50rem){
}
