/* selection */
::selection{background-color:var(--c-tm-c);}
::-moz-selection{background-color:var(--c-tm-c);}
::-webkit-selection{background-color:var(--c-tm-c);}
.post h1::selection{background-color:var(--c-tm-db-c);}
.post h1::-moz-selection{background-color:var(--c-tm-db-c);}
.post h1::-webkit-selection{background-color:var(--c-tm-db-c);}

/* user selection */
.noDrag,.jump-link,.PageList,.hp1,.comment-reply,.comment-actions,.avatar-image-container,#blog-pager,.footnote .n
{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important;}

/* scroll margin */
body *{scroll-margin-top:4rem}

/* linespace */
linespace{display:block;height:.7em}

/* Custom Mobile */

@media (max-width:235px){#upbar{display:none;}}
@media (max-width:340px){
  #upbar-search-button{display:none;}
  #upbar-search-bar{max-width:calc(100% - 7rem);}
}
@media (max-width:768px){
  body{max-width:768px;}
  a.home-link{font-size:50px;}
  
  .sidebar-container{flex-direction:column}
  .sidebar{width:100%!important;height:20vh;margin-bottom:1rem;position:static}
  .sidebar-container>main{margin-left:0}
}
@media (max-width:1200px){
  footer td.columns-cell{display:block;width:100%!important}
}
@media screen and (max-width:500px){
  :root{--s-font-p:1rem}
}