/* number */
:root{
  --n-lineheight:1.7;
}

/* size */
:root{
  --s-font-p:1.15rem;
  --s-line-t:.5rem;
}

/* colors */
:root{
  --c-tm:#ffe7ee;
  --c-tm-db:#ffd1db;
  --c-tm-tp:#ffb7c7;
}
body:not([data-theme="dark"]){
  --c-bg:white;
  --c-bg-g:white;
  --c-ft:black;
  --c-tm-b:#ffe7ee;
  --c-ct-r:white;
  --c-tm-c:#ffe7ee;
  --c-tm-gr:#ffe7ee;
  --c-tm-7:#ffe7ee;
  --c-tm-db-c:#ffd1db;
  --c-tm-tp-c:#ffb7c7;
  --c-gr-2:#cccccc;
  --c-gr-5:#808080;
}

body[data-theme="dark"]{
  --c-bg:#1a1a1a;
  --c-bg-g:#333333;
  --c-ft:#ddd;
  --c-tm-b:#1a1a1a;
  --c-ct-r:#cccccc;
  --c-tm-c:#404040;
  --c-tm-gr:#cccccc;
  --c-tm-7:#777777;
  --c-tm-db-c:#777777;
  --c-tm-tp-c:#9e9e9e;
  --c-gr-2:#333333;
  --c-gr-5:#a0a0a0;
}

/* fonts */
:root{
  --f-serif:'NanumMyeongjo',serif;
  --f-sanserif:'IBM Plex Sans KR',sans-serif;
  --f-monospace:'NanumGothicCodingLigature',monospace;
}

/* anchor */
a{text-decoration:none;color:var(--c-ft);}
.highlight,main a:not(.noDeco,.noDeco a,.noUnderline,.noUnderline a,.footnote.t a,.footnote .n,.footnote .n *,.jump-link a,.post h1 a,.index a,h2>a,h3>a,h4>a,h5>a,h6>a,.badge),.footnote.t>:not(.n) a{
  position:relative;
  border-bottom:.2em var(--c-tm-c) solid;
}
.highlight,main a:not(.noDeco,.noDeco *,.footnote.t a,.footnote .n,.footnote .n *,.post h1 a,h2>a,h3>a,h4>a,h5>a,h6>a,.badge):hover{
  border-bottom:.2em var(--c-tm-db-c) solid;
}

/* frame*/
body{
  color:var(--c-ft);font-size:1rem;
  color:var(--c-ft);
  background-color:var(--c-bg);
  margin:0;
  min-width:15rem;
  padding-bottom:1rem;
}
h1{
  margin:0;padding:.25em 1em;width:100%;box-sizing:border-box;
  background-color:var(--c-tm-c);
  font-size:2.5rem;
  word-break:keep-all;
}
h1.index{font-size:3rem;font-size:3rem;text-align:center;}

/* monospace */
.monospace,pre,code{
  letter-spacing:0;
  overflow-wrap:break-word;white-space:preserve;
}

/* post title */
.post h1{text-align:center}
.post h1 a{color:var(--c-ft)}

/* neck */
.neck{
  width:100%;box-sizing:border-box;
  margin:1.5rem auto;
  border-left:solid var(--s-line-t) var(--c-tm-c);border-right:solid var(--s-line-t) var(--c-tm-c);
}
.neck .flex{
  width:100%;margin:auto;
  font-size:2rem;
  display:flex;
  justify-content:center;
}
.neck .badge{
  padding:.25em;
}
.neck .date{
  font-size:1rem;
  color:var(--c-gr-5);
  text-align:center;
}

/* main */
main{
  font-size:var(--s-font-p);line-height:var(--n-lineheight);word-break:keep-all;letter-spacing:-.02em;word-spacing:.1em;
  padding:1.5rem;width:100%;box-sizing:border-box;
}

/* post */
.post{width:100%;}

/* bottom */
.bottom{padding:1rem}
.tags li a{word-break:keep-all;}
.tags.current{padding:1rem;font-size:1.2rem}
.tags.current li+li{margin-left:.75em}
.tags.current li::before{
  content:'#';color:var(--c-tm-db-c);
  display:inline;
  margin-right:.25em
}
.tags.current li{display:inline}

/* upbar */
#upbar-search-bar::placeholder{
  font-size:1rem;
  color:var(--c-ft);
}
#upbar{
  width:100%;height:3rem;
  position:fixed;top:0;left:0;right:0;
  z-index:9999;
  background-color:var(--c-tm-b);
  display:box;
  vertical-align:middle;
  padding:.25rem 0;
}
#upbar-search-bar{
  position:relative;float:right;padding:0 .5rem;margin:.25rem .5rem .25rem 0;
  width:30rem;max-width:calc(100% - 10rem);height:2.5rem;border:0;
  font-size:1rem;
  background-color:var(--c-bg-g);color:var(--c-ft);
}
#upbar-search-button{
  background-color:var(--c-bg-g);
  width:2.5rem;height:2.5rem; border:0;margin:.25rem .5rem .25rem 0;
  float:right;position:relative;
  font-size:1.56rem;color:var(--c-tm-gr);
}
#upbar-moveB{position:relative;font-size:0;float:left;margin:.25rem 0 .25rem .5rem;}
@-moz-document url-prefix(){#upbar-moveB{top:-.12rem;}}
#upbar-moveB-up,#upbar-moveB-down,#upbar-shareB{
  padding:0;
}
#upbar-moveB svg{height:1rem;width:2.5rem;}
#upbar-moveB button{width:2.5rem;height:1rem;display:block;}
#upbar-moveB-down{margin-top:.5rem;}
#upbar-shareB svg{height:2.5rem;width:2.5rem;}
#upbar-shareB{
  float:left;margin:.25rem 0 .25rem .5rem;width:2.5rem;height:2.5rem;
  position:relative;
}
#upbar-moveB svg{fill:var(--c-ct-r)}
#upbar-shareB svg{stroke:var(--c-ct-r)}
#upbar-moveB button:hover svg{fill:var(--c-tm-db-c)}
#upbar-shareB:hover svg{stroke:var(--c-tm-db-c)}
#upbar-search-button:hover{background-color:var(--c-tm-db-c);color:var(--c-ct-r)}

/* noti */
.noti{
  position:absolute;
  opacity:0;
}

/* footer */
.footer{height:5rem;padding:1rem;display:flex;justify-content:center;}
.footer>*{vertical-align:middle;margin:auto .5rem;height:3.5rem;margin:auto .5rem;}
.footer .button.i{width:3.5rem;}

/* feed button */
#feed-button>svg{width:60%;height:60%;margin:20% auto;display:block;fill:var(--c-ft);}

/* theme button */
#theme-button>svg{display:none;}
body:not([data-theme="dark"]) #theme-button-s,body[data-theme="dark"] #theme-button:hover #theme-button-s,
body[data-theme="dark"] #theme-button-m,body:not([data-theme="dark"]) #theme-button:hover #theme-button-m{
  display:block;
}
body[data-theme="dark"] #theme-button:hover #theme-button-m,body:not([data-theme="dark"]) #theme-button:hover #theme-button-s{
  display:none;
}
body:not([data-theme="dark"]) #theme-button,body[data-theme="dark"] #theme-button:hover{background-color:var(--c-tm);}
#theme-button-s{margin:auto;width:2.5rem;height:2.5rem;fill:black;stroke-width:0;}
body[data-theme="dark"] #theme-button-s,body:not([data-theme="dark"]) #theme-button:hover #theme-button-s{display:none;}
body[data-theme="dark"] #theme-button,body:not([data-theme="dark"]) #theme-button:hover{background-color:#333333;}
#theme-button-m{margin:auto;width:2.3rem;height:2.3rem;stroke-width:0;fill:#ddd;}

/* language button */
#lang-select{
  padding:.2em .5rem .2em 1em;
  font-size:1rem;
  border:none;background-color:var(--c-tm-c);
  font-family:var(--f-serif);color:var(--c-ft);
}
#lang-select:hover{background-color:var(--c-tm-db-c)}

/* dfn */
dfn{all:unset}

/* h */
h2,h3,h4,h5,h6{
  letter-spacing:-.02em;word-spacing:.2em;line-height:1.2;
  overflow-wrap:break-word;
  position:relative;margin-top:1.5em;margin-bottom:calc(var(--s-font-p) * 1.5);
  overflow:hidden;
}
h2{font-size:4em;font-weight:200;}
h3{font-size:2em;font-weight:200;}
h4{font-size:1.5em;font-weight:300;}
h5{font-size:1.2em;font-weight:300;}
h6{font-size:1em;font-weight:300;}

/* button */
.button{
  border:unset;
  padding:.1em .5em;background-color:var(--c-tm-c);
}
.button.i{
  font-size:0;
  padding:0;
}

/* image */
.image,.image.g>*,.image:not(img) img{width:auto;height:auto;max-width:calc(100% - 1em);}
.image{margin-top:calc(var(--n-lineheight) * 1em);margin-bottom:calc(var(--n-lineheight) * 1em);}
.image+.image{margin-top:0;}
.image:not(.center){margin:1em .5em}
.image>*{max-width:100%}
.image.right{float:right;margin:0 0 .5em 1em}
table.image{border-collapse:collapse;border-spacing:0;border-style:none;padding:0;display:block;}
table.image td , .image tr {border-spacing:0;border-style:none;padding:0;margin:0;}
table.image tr:first-child>td>*{display:block;padding:0;margin:0;overflow:hidden;width:auto;height:auto;}
table.image tr:last-child>td{font-size:small;text-align:center;padding-top:.5em;}
table.image.center tbody{display:block;width:max-content;margin-left:auto;margin-right:auto;}
.image.g>*{max-height:var(--height);}
.image.g.center{text-align:center}

/* icon */
.icon{height:1.5em;width:auto;border:0px;vertical-align:bottom;display:inline;}

/* footnote */
.footnote .n,.footnote .n *{
  text-decoration: none;
  color:var(--c-gr-5);
  margin-right:.1em;
}
.footnote.t .n{
  vertical-align: super;
  font-size:.8em;letter-spacing:-.1em;
}
.footnote.b .n{font-size:1em;max-width:10vw;word-break:keep-all;overflow-wrap:break-word;}
.footnote.t{display:inline;position:relative;}
.footnote.b{
  padding-top:.3rem;padding-left:.6rem;
  margin-top:2rem;
}
.footnote.b>*{display:flex}
.footnote.b:not(.n){font-size:.8em;}
.footnote.t>:not(.n){
  display:none;
}
.footnote.b>*>:not(.n){float:left;margin-left:.7em;max-width:calc(100% - 2em);}

/* script */
.script{margin: 2em 0;border-left:.5rem solid var(--c-tm-c);padding-left:1em;}

/* list */
li::marker{color:var(--c-tm-db-c)}
ol.index ol{padding-left:0;}
ul.horizontal,ol.horizontal{display:flex;justify-content:space-evenly}
ul.horizontal>li,ol.horizontal>li{margin-right:2rem}
li .flex{display:flex;flex-wrap:wrap;}
li .flex>ol,li .flex>ul{margin:-.25em 0}

/* display */
.display>*{
  display:block;position:relative;
  width:100%;
  margin:0 auto;
  width:100%; height:100%;
}
.display{
  width:auto;margin:3em auto;
  border-left:var(--s-line-t) solid var(--c-tm-c); border-right:var(--s-line-t) solid var(--c-tm-c);
  box-sizing:border-box;display:block;
}
.r-169-h>*{aspect-ratio:16/9;max-width:65rem;}
.r-169-v>*{aspect-ratio:9/16;max-width:25rem;}

/* hr */
hr{margin:1em auto;background-color:var(--c-tm-c);border:none;}
hr.dot{aspect-ratio:1/1;width:auto;height:.5rem;background-color:var(--c-tm-db-c)}
hr.line{height:.2rem;width:80%;}

/* badge */
.badge{
  height:auto;width:auto;
}

/* details */
main details{
  margin:1.3em 0;width:100%;overflow:hidden;
}

/* center */
center{display:block;width:100%;}
center>*{margin-left:auto;margin-right:auto;}
.center:not(table){display:block}
.center{margin-left:auto;margin-right:auto;}
a.center,div.center{width:fit-content}

/* right */
.right+.right{clear:right}

/* linespace */
linespace{display:block;height:.7em}

/* mobile */
@media (max-width:235px){#upbar{display:none;}}
@media (max-width:340px){
  #upbar-search-button{display:none;}
  #upbar-search-bar{max-width:calc(100% - 7rem);}
}
@media (max-width:768px){
  body{max-width:768px;}
  a.home-link{font-size:50px;}
  
  .sidebar-container{flex-direction:column}
  .sidebar{width:100%!important;height:20vh;margin-bottom:1rem;position:static}
  .sidebar-container>main{margin-left:0}
}
@media (max-width:1200px){
  footer td.columns-cell{display:block;width:100%!important}
}
@media screen and (max-width:500px){
  :root{--s-font-p:1rem}
}