{%if page.title==null%}{%assign title = "프엠"%}
{%else%}{%assign title = {{page.title}}%}
{%endif%}
{%assign description = page.description | replace: '"',"&quot;"%}
{%if page.thumbnail==null%}{%assign thumbnail = "/import/images/logo-default-square.jpg" | absolute_url%}
{%else%}{%assign thumbnail = page.thumbnail | absolute_url%}
{%endif%}
{%assign url = page.url |  absolute_url%}

<title>{{title}}</title>
<link href='/favicon.ico' rel='icon' type='image/x-icon'>

<meta content='width=device-width,initial-scale=1.0,minimum-scale=1.0' name='viewport'/>
<meta name='robots' content='
  {%-if page.robots==null-%}
    all
  {%-else-%}
    {{page.robots|replace:" ",","}}
  {%-endif-%}
'>

<!--meta-->
<meta charset='UTF-8'>
<link rel='canonical' href='{{url}}'>
<meta propery='og:url' content='{{url}}'>
<meta name='twitter:url' content='{{url}}'>
<meta property='og:title' content='{{title}}'>
<meta property='twitter:title' content='{{title}}'>
<meta property='og:site_name' content='{{site.title}}'>
{%if description!=""%}
  <meta name='description' content='{{description}}'>
  <meta property='og:description' content='{{description}}'>
  <meta name='twitter:description' content='{{description}}'>
{%endif%}
<meta property='og:image' content='{{thumbnail}}'>
<meta name='twitter:image' content='{{thumbnail}}'>
<script type='application/ld+json'>
  {
    "@context": "http://schema.org",
    "@type": "{%if page.type==null%}BlogPosting{%else%}{{page.type}}{%endif%}",
    "name": "{{site.title}}",
    "description": "{{description}}"
    "image": "{{thumbnail}}"
    "dataPublished": "{{page.date | date:"%Y-%m-%d"}}",
    "mainEntityOfPage": {
      "name": "{{title}}",
      "@type": "WebPage",
      "@id": "{{url}}",
      "url": "{{url}}"
    }
    "inLanguage": "ko"
  }
</script>

<!--feed-->
<link title='Atom Feed' href='/feed.xml' rel='alternate' type='application/atom+xml'>
<link title='RSS Feed' href='/rss.xml' type='application/rss+xml' rel='alternate'>
