<div class='neck'>
  <div class='flex' role='group'>
    {%if include.content contains "home"%}<a class='badge multilanguage' href='/' draggable='false' aria-label='홈' aria-label-ko='홈' aria-label-en='Home'>🏠</a>{%endif-%}
    {%-if include.content contains "list"%}<a class='badge multilanguage' href='/list' draggable='false' aria-label='글 목록' aria-label-ko='글 목록' aria-label-en='Post List'>📑</a>{%endif%}
    {%-if include.content contains "roundabout"%}<a class='badge multilanguage' href='/i/roundabout' draggable='false' aria-label='링크' aria-label-ko='링크' aria-label-en='Link'>🔗</a>{%-endif%}
  </div>

  {%if include.content contains "date"%}
    <div draggable='false' class='date no-drag multilanguage' aria-label='날짜' aria-label-ko='날짜' aria-label-en='Date'><time datetime='{{page.date | date:"%Y-%m-%d"}}'>{{page.date | date:'%Y-%m-%d'}}</time></div>
  {%-endif%}
</div>