{% assign language = include.language | default: "ko" %}
{%- for post in site.posts -%}
  {%- assign show = true -%}
  {%- unless post.rating -%}{% assign show = false -%}{%- endunless -%}
  {%- if post.language.link -%}
    {%- unless post.language.current == language -%}{% assign show = false %}{%- endunless -%}
  {%- endif -%}
  {%- if include.category -%}
    {%- if post.rating.category != include.category -%}{%- assign show = false -%}{%- endif -%}
  {%- endif -%}
  {%- if show -%}
    {%- capture attr -%}href='{{ post.url | absolute_url }}' aria-label='{{ post.title }}'{%- endcapture -%}
    {%- capture li -%}<li><a {{ attr }}>{% if post.rating.thumbnail or post.rating.image %}<div class='i'>{{ post.rating.thumbnail | default: post.rating.image }}</div>{% else %}<div class='t'><div><div>{{ post.title }}</div></div></div>{% endif %}</a></li>{%- endcapture -%}
    {%- case post.rating.rate -%}
      {%- when 1 -%}
        {%- capture rate_1 -%}
        {{ rate_1 }}{{ li }}
        {%- endcapture -%}
      {%- when 1.5 -%}
        {%- capture rate_1h -%}
        {{ rate_1h }}{{ li }}
        {%- endcapture -%}
      {%- when 2 -%}
        {%- capture rate_2 -%}
          {{ rate_2 }}{{ li }}
        {%- endcapture -%}
      {%- when 2.5 -%}
        {%- capture rate_2h -%}
        {{ rate_2h }}{{ li }}
        {%- endcapture -%}
      {%- when 3 -%}
        {%- capture rate_3 -%}
          {{ rate_3 }}{{ li }}
        {%- endcapture -%}
      {%- when 3.5 -%}
        {%- capture rate_3h -%}
        {{ rate_3h }}{{ li }}
        {%- endcapture -%}
      {%- when 4 -%}
        {%- capture rate_4 -%}
          {{ rate_4 }}{{ li }}
        {%- endcapture -%}
      {%- when 4.5 -%}
        {%- capture rate_4h -%}
        {{ rate_4h }}{{ li }}
        {%- endcapture -%}
      {%- when 5 -%}
        {%- capture rate_5 -%}
          {{ rate_5 }}{{ li }}
        {%- endcapture -%}
    {%- endcase -%}
  {%- endif -%}
{%- endfor -%}
