<details>
  <summary>★★★★★</summary>
  <div>
    <ul>
      {{ rate_5 }}
    </ul>
  </div>
</details>
<details>
  <summary>★★★★☆</summary>
  <div>
    <ul>
      {{ rate_4h }}
    </ul>
  </div>
</details>
<details>
  <summary>★★★★</summary>
  <div>
    <ul>
      {{ rate_4 }}
    </ul>
  </div>
</details>
<details>
  <summary>★★★☆</summary>
  <div>
    <ul>
      {{ rate_3h }}
    </ul>
  </div>
</details>
<details>
  <summary>★★★</summary>
  <div>
    <ul>
      {{ rate_3 }}
    </ul>
  </div>
</details>
<details>
  <summary>★★☆</summary>
  <div>
    <ul>
      {{ rate_2h }}
    </ul>
  </div>
</details>
<details>
  <summary>★★</summary>
  <div>
    <ul>
      {{ rate_2 }}
    </ul>
  </div>
</details>
<details>
  <summary>★☆</summary>
  <div>
    <ul>
      {{ rate_1h }}
    </ul>
  </div>
</details>
<details>
  <summary>★</summary>
  <div>
    <ul>
      {{ rate_1 }}
    </ul>
  </div>
</details>
