{%-for post in site.posts-%}
  {%-if post.review and (include.category == nil or post.review.category == include.category)-%}
    {%-if post.language.link.ko==nil-%}
      {%-capture attr-%}
        href='{{post.url|absolute}}'
        {%-if post.language-%}
          {%-if post.language.current=="ko"%} href-ko='{{post.url|absolute_url}}'
          {%-elsif post.language.link.ko%} href-ko='{{post.language.link.ko}}'
          {%-endif-%}
          {%-if post.language.current=="en"%} href-en='{{post.url|absolute_url}}'
          {%-elsif post.language.link.en%} href-en='{{post.language.link.en}}'
          {%-endif%} class='multilang'
        {%-endif-%}
      {%-endcapture-%}
      {%-case post.review.rate-%}
        {%-when 1-%}
          {%-capture rate_1-%}
          {{rate_1}}<li><a {{attr}}>{%if post.review.image%}<div class='i'>{{post.review.image}}</div>{%else%}<div class='t'><div><div>{{post.title}}</div></div></div>{%endif%}</a></li>
          {%-endcapture-%}
        {%-when 1.5-%}
          {%-capture rate_1h-%}
          {{rate_1h}}<li><a {{attr}}>{%if post.review.image%}<div class='i'>{{post.review.image}}</div>{%else%}<div class='t'><div><div>{{post.title}}</div></div></div>{%endif%}</a></li>
          {%-endcapture-%}
        {%-when 2-%}
          {%-capture rate_2-%}
            {{rate_2}}<li><a {{attr}}>{%if post.review.image%}<div class='i'>{{post.review.image}}</div>{%else%}<div class='t'><div><div>{{post.title}}</div></div></div>{%endif%}</a></li>
          {%-endcapture-%}
        {%-when 2.5-%}
          {%-capture rate_2h-%}
          {{rate_2h}}<li><a {{attr}}>{%if post.review.image%}<div class='i'>{{post.review.image}}</div>{%else%}<div class='t'><div><div>{{post.title}}</div></div></div>{%endif%}</a></li>
          {%-endcapture-%}
        {%-when 3-%}
          {%-capture rate_3-%}
            {{rate_3}}<li><a {{attr}}>{%if post.review.image%}<div class='i'>{{post.review.image}}</div>{%else%}<div class='t'><div><div>{{post.title}}</div></div></div>{%endif%}</a></li>
          {%-endcapture-%}
        {%-when 3.5-%}
          {%-capture rate_3h-%}
          {{rate_3h}}<li><a {{attr}}>{%if post.review.image%}<div class='i'>{{post.review.image}}</div>{%else%}<div class='t'><div><div>{{post.title}}</div></div></div>{%endif%}</a></li>
          {%-endcapture-%}
        {%-when 4-%}
          {%-capture rate_4-%}
            {{rate_4}}<li><a {{attr}}>{%if post.review.image%}<div class='i'>{{post.review.image}}</div>{%else%}<div class='t'><div><div>{{post.title}}</div></div></div>{%endif%}</a></li>
          {%-endcapture-%}
        {%-when 4.5-%}
          {%-capture rate_4h-%}
          {{rate_4h}}<li><a {{attr}}>{%if post.review.image%}<div class='i'>{{post.review.image}}</div>{%else%}<div class='t'><div><div>{{post.title}}</div></div></div>{%endif%}</a></li>
          {%-endcapture-%}
        {%-when 5-%}
          {%-capture rate_5-%}
            {{rate_5}}<li><a {{attr}}>{%if post.review.image%}<div class='i'>{{post.review.image}}</div>{%else%}<div class='t'><div><div>{{post.title}}</div></div></div>{%endif%}</a></li>
          {%-endcapture-%}
      {%-endcase-%}
    {%-endif-%}
  {%-endif-%}
{%-endfor-%}
