<meta http-equiv='Cache-Control' content='max-age=86400,must-revalidate'>
<link href='/import/scripts/style-head.css' rel='stylesheet'>
<script src='/import/scripts/js-head.js' type='text/javascript'></script>
<script type='text/javascript' src='/import/scripts/js-postrender.js' defer></script>
<link  href='/import/scripts/style-async.css' rel='stylesheet' media='print' onload='this.media="all"'>
<link href='/import/scripts/font-face.css' rel='stylesheet' media='print' onload='this.media="all"'>
{%- include check-language.html -%}
<!---->
{%- if page.addhead -%}
  {%- for line in page.addhead -%}{{ line }}{%- endfor -%}
{%- endif -%}
<!---->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W9PD2FV');</script>
