<meta http-equiv='Cache-Control' content='max-age=86400,must-revalidate'>
<link href='/import/scripts/style-head.css' rel='stylesheet'>
<script src='/import/scripts/js-head.js' type='text/javascript' defer></script>
<link  href='/import/scripts/style-async.css' rel='stylesheet' media='print' onload='this.media="all"'>
<link href='/import/scripts/font-face.css' rel='stylesheet' media='print' onload='this.media="all"'>
{%include check-language.html%}
<!---->
{%if page.addhead!=none%}
  {%for line in page.addhead%}{{line}}{%endfor%}
{%endif%}
<!---->