<script type='text/javascript' src='/import/scripts/functions/hover.js'></script>
<script type='text/javascript' src='/import/scripts/functions/footnote.js'></script>
<script type='text/javascript' src='/import/scripts/functions/scroll.js'></script>
<script type='text/javascript' src='/import/scripts/functions/themePost.js'></script>
<script type='text/javascript' src='/import/scripts/functions/languagePost.js'></script>
<script type='text/javascript' src='/import/scripts/functions/postshare.js'></script>
<script type='text/javascript' src='/import/scripts/functions/search.js'></script>