{% assign max = site.posts.size %}
{% capture taglist -%}
  {%- for tag in site.tags -%}
    {{ max | minus: tag[1].size | prepend:"00000" | slice: -5,5 }}<!num!><li><a href='/list?tag={{ tag[0] }}'>{{ tag[0] }}</a></li><!split!>
  {%- endfor -%}
{%- endcapture %}
{% assign taglist = taglist | split:"<!split!>" | sort %}
<ul class='tags all multilang' aria-label='태그 전체 목록' data-aria-label-ko='태그 전체 목록' data-aria-label='List Of The Entire Tags'>
  {% for line in taglist -%}
    {{ line | split:"<!num!>" | last }}
  {% endfor %}
</ul>
