---
layout: display
title: 후기
description: "프엠: 후기"
language: 
  current: all
  title:
    ko: 후기
    en: Reviews
addhead:
  - "<link href='/import/scripts/conditional/reviews.css' rel='stylesheet'>"
---
{%-for post in site.posts-%}
  {%-if post.review!=null-%}
    {%-case post.review.rate-%}
      {%-when 1-%}
        {%-capture rate_1-%}
        {{rate_1}}<li><a href='{{post.url|absolute_url}}'>{%if post.review.image%}<div class='i'>{{post.review.image}}</div>{%else%}<div class='t'><div><div>{{post.title}}</div></div></div>{%endif%}</a></li>
        {%-endcapture-%}
      {%-when 2-%}
        {%-capture rate_2-%}
          {{rate_2}}<li><a href='{{post.url|absolute_url}}'>{%if post.review.image%}<div class='i'>{{post.review.image}}</div>{%else%}<div class='t'><div><div>{{post.title}}</div></div></div>{%endif%}</a></li>
        {%-endcapture-%}
      {%-when 3-%}
        {%-capture rate_3-%}
          {{rate_3}}<li><a href='{{post.url|absolute_url}}'>{%if post.review.image%}<div class='i'>{{post.review.image}}</div>{%else%}<div class='t'><div><div>{{post.title}}</div></div></div>{%endif%}</a></li>
        {%-endcapture-%}
      {%-when 4-%}
        {%-capture rate_4-%}
          {{rate_4}}<li><a href='{{post.url|absolute_url}}'>{%if post.review.image%}<div class='i'>{{post.review.image}}</div>{%else%}<div class='t'><div><div>{{post.title}}</div></div></div>{%endif%}</a></li>
        {%-endcapture-%}
      {%-when 5-%}
        {%-capture rate_5-%}
          {{rate_5}}<li><a href='{{post.url|absolute_url}}'>{%if post.review.image%}<div class='i'>{{post.review.image}}</div>{%else%}<div class='t'><div><div>{{post.title}}</div></div></div>{%endif%}</a></li>
        {%-endcapture-%}
    {%-endcase-%}
  {%-endif-%}
{%-endfor-%}

<main>

<div class='panel'>
<details>
  <summary>★★★★★</summary>
  <div>
    <ul>
      {{rate_5}}
    </ul>
  </div>
</details>
<details>
  <summary>★★★★☆</summary>
  <div>
    <ul>
      {{rate_4}}
    </ul>
  </div>
</details>
<details>
  <summary>★★★☆☆</summary>
  <div>
    <ul>
      {{rate_3}}
    </ul>
  </div>
</details>
<details>
  <summary>★★☆☆☆</summary>
  <div>
    <ul>
      {{rate_2}}
    </ul>
  </div>
</details>
<details>
  <summary>★☆☆☆☆</summary>
  <div>
    <ul>
      {{rate_1}}
    </ul>
  </div>
</details>
</div>

</main>


<h2 class='no-deco'>🗂️</h2>

<ul class='horizontal no-underline multilang' aria-label='종류별로 보기' aria-label-ko='종류별로 보기' aria-label-en='Filter By Category'>
  <li><a class='t multilang' href='/i/reviews/films' draggable='false' data-content-ko='영화' data-content-en='Films'>영화</a></li>
  <li><a class='t multilang' href='/i/reviews/narrativeseries' draggable='false' data-content-ko='드라마' data-content-en='Narrative Series'>드라마</a></li>
  <li hidden><a class='t multilang' href='/i/reviews/animations' draggable='false' data-content-ko='애니메이션' data-content-en='Animations'>애니메이션</a></li>
</ul>
