---
layout: display
title: 평점
description: "프엠: 평점"
language: 
  current: all
  title:
    ko: 평점
    en: Ratings
addhead:
  - "<link href='/import/scripts/conditional/ratings.css' rel='stylesheet'>"
---
{% include ratings-rate-var.html %}

<main>

<div class='panel'>
{% include ratings-rate-li.html %}
</div>

</main>


<h2 class='no-deco'>🗂️</h2>

<ul class='horizontal no-underline multilang' aria-label='종류별로 보기' data-aria-label-ko='종류별로 보기' data-aria-label-en='Filter By Category'>
  <li><a class='t multilang' href='/i/ratings/dramaseries' draggable='false' data-content-ko='드라마' data-content-en='Drama Series'>드라마</a></li>
  <li hidden><a class='t multilang' href='/i/ratings/animations' draggable='false' data-content-ko='애니메이션' data-content-en='Animations'>애니메이션</a></li>
  <li><a class='t multilang' href='/i/ratings/films' draggable='false' data-content-ko='영화' data-content-en='Films'>영화</a></li>
</ul>
